---
import Layout from '../layouts/Layout.astro';
import Report from '../components/Report.astro';
import { websites } from '../lighthouse/websites.json';

---
<Layout title="Lighthouse Report">
	<main>
		
		<div class="grid gap-10 py-8">
			
			{websites.map((website) => (
				<Report website={website} />
			))}
		</div>
		
	</main>
</Layout>